<!DOCTYPE html>
<html lang="en">
<%- include('./shared/head.ejs') %>
    <body>
        <%- include('./shared/header.ejs') %>
            <main>
                <section>
                    <% if(locals.products.length===0) {%>
                        <h2>No products</h2>
                        <% } else { %>
                            <div class="products-div">
                                <% locals.products.forEach(product=> { %>
                                    <div class="product-div">
                                        <img class="product-img" src="<%= product.image %>" alt="">
                                        <div class="product-info-div">
                                            <a class="product-name-a" href="#">
                                                <%= product.name %>
                                            </a>
                                            <div class="rating-div">
                                                <img class="rating-img" src="/assets/star icon.png" alt="">
                                                <span class="rating-count-span">
                                                    <%= `${product.averageRating} (${product.ratingCount})` %>
                                                </span>
                                            </div>
                                            <div class="price-stock-div">
                                                <span class="price-span">
                                                    <%= `${product.price} €` %>
                                                </span>
                                                <% if (product.stock> 0) { %>
                                                    <div class="cirle-stock-div">
                                                        <div class="in-stock-cirle-div circle-div"></div>
                                                        <span class="stock-span">
                                                            In stock
                                                        </span>
                                                    </div>
                                                    <% } else { %>
                                                        <div class="cirle-stock-div">
                                                            <div class="out-of-stock-cirle-div circle-div"></div>
                                                            <span class="stock-span">
                                                                Out of stock
                                                            </span>
                                                        </div>
                                                        <% } %>




                                            </div>
                                        </div>
                                    </div>
                                    <%})}%>
                            </div>
                </section>
            </main>
            <%- include('./shared/footer.ejs') %>
    </body>

</html>